/**
* Forms Section
* @class Forms
* @module base.css
*/
.control-group
	border-bottom 1px solid #D5D5D5
	padding 15px 0
	&.last
		border none
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.cgroup-inline
	border-bottom 1px solid #D5D5D5
	padding 15px 0
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.control-group
		border none
		float left
		margin 0 0 0 30px
		padding 0
		&:first-child
			margin 0
	.control-label
		width 90px
	.controls
		width 214px
.control-label
	float left
	font-size 12px
	padding 7px 24px 0 10px
.controls
	float left
	&.fix
		padding-top 4px
		width auto
.ioption
	float left
	height 16px
	line-height 16px
	padding-left 20px
	position relative
	input[type="radio"]
		border 0
		left 0
		position absolute
		top 2px
	& + .ioption
		margin-left 20px
/* Tamaños */
.select-large
	width 186px