footer
	.box-center
		p &copy;Copyright 2014. Todos los derechos reservados. Este admin fué desarrollado por 
			a(href="http://www.onlinestudioproductions.com/",target="_blank") OnlineStudioProductions