header
	.fix
		.box-center
			.head-user
				span
				| Hola, admin
			ul.head-options
				li
					a(href="perfil.html",title="Perfil")
						span.ichd-perfil
						| Perfil
				li
					a(href="index.html",title="Logout")
						span.ichd-logout
						| Logout