aside.sidebar
	ul.admin-menu
		li
			a(title="Dashboard",href="javascript:;",class="active")
				span.icad-dashb
				| Dashboard
		li
			a(title="Envío SMS",href="javascript:;")
				span.icad-prom
				| Envío SMS
			ul
				li
					a(href="sms-individual-inmediato.html",title="Individual Inmediato") Individual Inmediato
				li
					a(href="sms-individual-agendado.html",title="Individual Agendado") Individual Agendado
				li
					a(href="sms-grupal-inmediato.html",title="Grupal Inmediato") Grupal Inmediato
				li
					a(href="sms-grupal-agendado.html",title="Grupal Agendado") Grupal Agendado
				li
					a(href="sms-archivo.html",title="Desde Archivo") Desde Archivo
		li
			a(title="Aprovisionar",href="javascript:;")
				span.icad-prom
				| Aprovisionar
			ul
				li
					a(href="aprovisionar-usuarios.html",title="Usuarios") Usuarios
				li
					a(href="aprovisionar-grupos.html",title="Grupos") Grupos
		li
			a(title="Reportes",href="javascript:;")
				span.icad-prom
				| Reportes
			ul
				li
					a(href="reporte-detalle.html",title="Por Detalle") Por Detalle
				li
					a(href="reporte-consolidado.html",title="Consolidado") Consolidado