article,aside,footer,header,nav,section{display:block}
html{height:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0}
:focus{outline:0}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:hover,a:active{outline:0}
img{-ms-interpolation-mode:bicubic;border:0;vertical-align:middle}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{*overflow:visible;line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button{-webkit-appearance:button;cursor:pointer}
label,select,button,input[type="radio"],input[type="checkbox"]{cursor:pointer}
textarea{overflow:auto;vertical-align:top}
form{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0;width:100%}
input[type="radio"],input[type="checkbox"]{margin:0;padding:0}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
input:-moz-placeholder{color:#999}
header{color:#eee;height:36px;margin-bottom:30px;}
header .fix{background:#21262a;height:36px;position:fixed;width:100%;z-index:999}
.head-user{color:#fff;float:left;font-size:11px;margin-top:8px;padding:4px 0 3px 34px;position:relative;}
.head-user span{background:url("../img/icon-set.png") -14px 0;height:20px;left:0;position:absolute;top:0;width:22px}
.head-options{float:right;font-size:11px;height:36px;}
.head-options li{border-right:1px solid #2f2f2f;float:left;}
.head-options li:first-child{border-left:1px solid #2f2f2f}
.head-options a{color:#eee;display:block;height:20px;line-height:20px;padding:8px 14px 8px 35px;position:relative;}
.head-options a:hover{background:#212121;text-decoration:none}
.head-options span{background-image:url("../img/icon-set.png");background-repeat:no-repeat;height:11px;left:14px;position:absolute;top:13px;width:11px}
.head-options .ichd-perfil{background-position:-151px 0}
.head-options .ichd-logout{background-position:-36px 0}
body{background:#23485e;color:#424242;cursor:default;font:13px/1.2 Arial,sans-serif;margin:0;min-height:100%;position:relative}
p{margin:0}
a{color:#2b6893;text-decoration:none;}
a:hover{text-decoration:underline}
ul{list-style:none;margin:0;padding:0}
h1,h2,h3,h4{font-family:'Cuprum',Arial,sans-serif;font-weight:normal;margin:0}
input[type="text"],input[type="password"],textarea{border:1px solid #d5d5d5;background:#fff;padding:6px;font-size:11px;font-family:Arial,sans-serif;line-height:13px;height:27px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;}
input[type="text"].error,input[type="password"].error,textarea.error{border:1px solid #eb4949}
textarea{height:70px;resize:none}
input[type="file"].error{color:#eb4949}
select{background:#fff;border:1px solid #d5d5d5;padding:3px;}
select.error{border:1px solid #eb4949}
footer{background:#21262a;position:absolute;bottom:0;width:100%;left:0;}
footer .box-center{padding:10px 5px;width:970px}
footer p{color:#696969;font-size:11px}
footer a{color:#fff}
.ctn-head{margin-bottom:25px;}
.ctn-head .middleNav{float:right}
.ctn-head .side-logo{float:left}
.middleNav li{float:left;margin-left:24px;}
.middleNav li:first-child{margin-left:0}
.middleNav .head-info{display:block;height:46px;overflow:hidden;padding:6px 10px 0;position:relative;}
.middleNav .head-info .count{color:#16925c;display:block;font-size:26px;line-height:26px;margin-bottom:2px;text-align:center}
.middleNav .head-info .desc{color:#fff;display:block;font-size:12px;line-height:12px;text-align:center}
.container .frm-head{padding:9px;}
.container .frm-head .btn-admin{font-size:11px;padding:5px 8px;position:absolute;right:9px;top:7px}
.container .icTable{background:url("../img/icon-set.png") -89px 0 no-repeat;height:14px;top:2px;width:14px}
.container .control-label{width:130px}
.container .lbloption{padding-top:1px}
.container .controls{width:440px}
.ctn-back{padding-bottom:18px;text-align:right}
.admin-menu{padding-bottom:36px;}
.admin-menu li{background:#fafafa;background:-moz-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#efefef));background:-webkit-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-o-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-ms-linear-gradient(top,#fafafa 0%,#efefef 100%);background:linear-gradient(top,#fafafa 0%,#efefef 100%);font-family:'Cuprum',Arial,sans-serif;font-size:15px;position:relative;}
.admin-menu li:first-child{margin:0}
.admin-menu > li:hover > a{background:#2db97c;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkYjk3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzdhNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2db97c),color-stop(100%,#077a48));background:-webkit-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-o-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-ms-linear-gradient(top,#2db97c 0%,#077a48 100%);background:linear-gradient(to bottom,#2db97c 0%,#077a48 100%);color:#fff}
.admin-menu > li:hover ul{display:block}
.admin-menu ul{display:none;left:100%;position:absolute;top:0;width:178px;z-index:99;}
.admin-menu ul a{height:auto;line-height:16px}
.admin-menu ul li{margin:0;}
.admin-menu ul li a,.admin-menu ul li a:hover{padding:10px 18px 8px}
.admin-menu a{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;color:#494949;display:block;height:20px;line-height:20px;padding:10px 0 8px 35px;position:relative;}
.admin-menu a:hover,.admin-menu a.active{background:#2db97c;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkYjk3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzdhNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2db97c),color-stop(100%,#077a48));background:-webkit-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-o-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-ms-linear-gradient(top,#2db97c 0%,#077a48 100%);background:linear-gradient(to bottom,#2db97c 0%,#077a48 100%);color:#fff;text-decoration:none}
.admin-menu span{height:14px;left:10px;position:absolute;top:12px;width:14px;background-image:url("../img/icon-set.png");background-repeat:no-repeat}
.admin-menu .icad-dashb{background-position:-47px 0}
.admin-menu .icad-prod{background-position:-61px 0}
.admin-menu .icad-prom{background-position:-75px 0}
.admin-menu .icad-ytb{background-position:-162px 0}
.admin-title{background:#2db97c;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkYjk3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzdhNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2db97c),color-stop(100%,#077a48));background:-webkit-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-o-linear-gradient(top,#2db97c 0%,#077a48 100%);background:-ms-linear-gradient(top,#2db97c 0%,#077a48 100%);background:linear-gradient(to bottom,#2db97c 0%,#077a48 100%);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;color:#fafafa;font-size:16px;height:20px;line-height:20px;margin-bottom:6px;padding:9px 15px}
.container p{margin-bottom:12px}
.list-opt li{background:url("../img/icon-set.png") -394px 0 no-repeat;margin-top:4px;padding-left:15px;}
.list-opt li:first-child{margin:0}
.tblaction{background-image:url("../img/icon-set.png");background-repeat:no-repeat;display:inline-block;height:16px;text-indent:-9999px;vertical-align:middle;width:16px;}
.tblaction + .tblaction{margin-left:6px}
.tblaction.ico-edit{background-position:-103px 0}
.tblaction.ico-delete{background-position:-119px 0}
.ctn-file{border-bottom:1px solid #d5d5d5;margin-bottom:16px;padding-bottom:12px;*zoom:1;}
.ctn-file:before,.ctn-file:after{display:table;content:"";line-height:0}
.ctn-file:after{clear:both}
.ctn-file .btn-file{float:left}
.ctn-file .help-iblock{font-size:12px;line-height:12px}
.hideSearchTbl #datatable_filter{display:none}
.box-center{margin:0 auto;width:980px;*zoom:1;}
.box-center:before,.box-center:after{display:table;content:"";line-height:0}
.box-center:after{clear:both}
.row{*zoom:1;}
.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
#wrapper{width:980px;margin:0 auto;*zoom:1;}
#wrapper:before,#wrapper:after{display:table;content:"";line-height:0}
#wrapper:after{clear:both}
.sidebar{float:left;margin-right:30px;width:212px}
.container{float:left;min-height:220px;padding:0 0 40px;width:738px}
.row-well{background:#fafafa;border:1px solid #d5d5d5;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:18px;*zoom:1;}
.row-well:before,.row-well:after{display:table;content:"";line-height:0}
.row-well:after{clear:both}
.frm-panel{background:#fafafa;border:1px solid #d5d5d5;}
.frm-panel .row-well{border:none}
.btn-admin{color:#fff;border:1px solid #16925c;background:#16925c;background:-moz-linear-gradient(top,#16925c 0%,#16925c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#16925c),color-stop(100%,#16925c));background:-webkit-linear-gradient(top,#16925c 0%,#16925c 100%);background:-o-linear-gradient(top,#16925c 0%,#16925c 100%);background:-ms-linear-gradient(top,#16925c 0%,#16925c 100%);background:linear-gradient(top,#16925c 0%,#16925c 100%);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset;box-shadow:0 1px 0 rgba(255,255,255,0.2) inset;font-size:11px;font-weight:700;line-height:12px;padding:7px 14px;position:relative;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#16925c', endColorstr='#16925c',GradientType=0 );}
.btn-admin:hover{background:#16925c;background:-moz-linear-gradient(top,#16925c 0%,#16925c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#16925c),color-stop(100%,#16925c));background:-webkit-linear-gradient(top,gradientFinsh 0%,#16925c 100%);background:-o-linear-gradient(top,#16925c 0%,#16925c 100%);background:-ms-linear-gradient(top,#16925c 0%,#16925c 100%);background:linear-gradient(top,#16925c 0%,#16925c 100%);text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#16925c', endColorstr='#16925c',GradientType=0 )}
.btn-file{padding-left:18px;}
.btn-file span{background:url("../img/icon-set.png") -198px 0;height:7px;left:5px;position:absolute;top:10px;width:7px}
.control-group{border-bottom:1px solid #d5d5d5;padding:15px 0;*zoom:1;}
.control-group.last{border:none}
.control-group:before,.control-group:after{display:table;content:"";line-height:0}
.control-group:after{clear:both}
.cgroup-inline{border-bottom:1px solid #d5d5d5;padding:15px 0;*zoom:1;}
.cgroup-inline:before,.cgroup-inline:after{display:table;content:"";line-height:0}
.cgroup-inline:after{clear:both}
.cgroup-inline .control-group{border:none;float:left;margin:0 0 0 30px;padding:0;}
.cgroup-inline .control-group:first-child{margin:0}
.cgroup-inline .control-label{width:90px}
.cgroup-inline .controls{width:214px}
.control-label{float:left;font-size:12px;padding:7px 24px 0 10px}
.controls{float:left;}
.controls.fix{padding-top:4px;width:auto}
.ioption{float:left;height:16px;line-height:16px;padding-left:20px;position:relative;}
.ioption input[type="radio"]{border:0;left:0;position:absolute;top:2px}
.ioption + .ioption{margin-left:20px}
.select-large{width:186px}
.control{text-align:center}
.hide{display:none}
.ctrl-txt{padding-top:2px}
.alert{background-color:#f2dede;border:1px solid #ebccd1;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;color:#a94442;font-size:13px;margin-bottom:20px;padding:8px 10px;}
.alert.success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}
label.error{color:#a94442;display:block;padding-top:2px}
.count-charts{color:#000;display:block;font-size:13px;padding-top:6px}
.frm-head{background:#fafafa;background:-moz-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#efefef));background:-webkit-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-o-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-ms-linear-gradient(top,#fafafa 0%,#efefef 100%);background:linear-gradient(top,#fafafa 0%,#efefef 100%);border-bottom:1px solid #d5d5d5;padding:12px 9px;position:relative;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );}
.frm-head h2{font-size:16px;font-weight:400;padding-left:22px;position:relative;}
.frm-head h2 span{background:url("../img/icon-set.png");height:13px;left:0;position:absolute;top:1px;width:14px}
.help-iblock{float:left;padding:3px 0 0 12px;text-align:justify}
.ic-close{background:#000 url("../img/icon-set.png") -176px 0;-webkit-border-radius:22px;-moz-border-radius:22px;-ms-border-radius:22px;-o-border-radius:22px;border-radius:22px;height:22px;position:absolute;right:-11px;top:-11px;width:22px;}
.ic-close:hover{opacity:.8}
.w565{width:565px}
.w540{width:540px !important}
.pl10{padding-left:10px}
.content-login{left:50%;margin:-151px 0 0 -161px;position:absolute;top:50%;width:320px}
.login-panel .control-label{width:62px}
.login-panel .controls{width:210px}
.login-logo{display:block;margin:0 auto 16px;width:260px}
.tipsy{background:url("../img/tipsy.gif") no-repeat;font-size:10px;padding:5px}
.tipsy-inner{background-color:#000;color:#fff;max-width:334px;padding:5px 8px 4px;text-align:center}
.tipsy-north{background-position:center top}
.tipsy-south{background-position:center bottom}
.tipsy-east{background-position:right center}
.tipsy-west{background-position:left center}
.loader{background:url("../img/opacity.png");height:100%;left:0;position:absolute;top:0;width:100%;z-index:999;}
.loader span{background:url("../img/loader.gif");height:29px;left:50%;margin:-15px 0 0 -15px;position:absolute;top:50%;width:30px}
.ublock{background:url("../img/opacity.png");height:100%;left:0;position:absolute;top:0;width:100%}
.tipsy{background:url("../img/tipsy.gif") no-repeat;font-size:10px;padding:5px}
.tipsy-inner{background-color:#000;color:#fff;max-width:334px;padding:5px 8px 4px;text-align:center}
.tipsy-north{background-position:center top}
.tipsy-south{background-position:center bottom}
.tipsy-east{background-position:right center}
.tipsy-west{background-position:left center}
.dataTables_wrapper{*zoom:1;clear:both;position:relative}
.dataTables_length{display:block;float:right;padding:12px 10px;}
.dataTables_length > label > span{float:left;margin-right:6px;margin-top:4px}
.dataTables_length select{border:1px solid #d7d7d7;padding:3px}
.dataTable thead th{background:#fafafa;background:-moz-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#efefef));background:-webkit-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-o-linear-gradient(top,#fafafa 0%,#efefef 100%);background:-ms-linear-gradient(top,#fafafa 0%,#efefef 100%);background:linear-gradient(top,#fafafa 0%,#efefef 100%);border-bottom:1px solid #d5d5d5;border-left:1px solid #d5d5d5;color:#878787;cursor:pointer;font-size:11px;font-weight:normal;line-height:20px;padding:3px 0 2px 0;text-align:center;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );}
.dataTable thead th:first-child{border-left:0}
.dataTables_filter{display:block;float:left;padding:14px 12px;position:relative;}
.dataTables_filter input[type="text"]{background:#f9f9f9;border:1px solid #d7d7d7;-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;height:auto;margin-left:15px;padding:5px 7px;width:180px}
.dataTables_filter > label,.dataTables_length > label{margin:0}
.dataTables_info{display:block;float:left;padding:12px}
.dataTables_paginate{float:right;margin:12px}
.datatable-header{background:#fafafa;border-bottom:1px solid #ddd}
.datatable-footer{background:#fcfcfc;background:-moz-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background:-o-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background:-ms-linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);background:linear-gradient(top,#fcfcfc 0%,#f5f5f5 100%);border-top:1px solid #ddd;padding:1px 0}
.datatable-header:after,.datatable-footer:after{clear:both;content:"";display:block}
.paging_full_numbers{height:22px;line-height:22px}
.paging_full_numbers .next:active,.paging_full_numbers .first:active,.paging_full_numbers .previous:active,.paging_full_numbers .last:active{font-weight:normal !important}
.paging_full_numbers a:active{outline:none}
.paging_full_numbers a:hover{text-decoration:none}
.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active{border:1px solid #d3d3d3;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-moz-box-shadow:0 1px 0 #fff inset,0 1px 0 #eaeaea;-webkit-box-shadow:0 1px 0 #fff inset,0 1px 0 #eaeaea;box-shadow:0 1px 0 #fff inset,0 1px 0 #eaeaea;color:#919191;cursor:pointer;*cursor:hand;font-size:11px;margin:0 3px;padding:5px 8px}
.paging_full_numbers a.paginate_button{background:#fff;background:-moz-linear-gradient(top,#fff 0%,#f5f5f5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(top,#fff 0%,#f5f5f5 100%);background:-o-linear-gradient(top,#fff 0%,#f5f5f5 100%);background:-ms-linear-gradient(top,#fff 0%,#f5f5f5 100%);background:linear-gradient(top,#fff 0%,#f5f5f5 100%)}
.paging_full_numbers a.paginate_button:hover{background:#fcfcfc;color:#327394}
.paging_full_numbers a.paginate_active,.paging_full_numbers a.paginate_button:active{background:#16925c;border-color:#16925c;-moz-box-shadow:0 1px 2px #545454 inset,0 1px 0 #fff;-webkit-box-shadow:0 1px 2px #545454 inset,0 1px 0 #fff;box-shadow:0 1px 2px #545454 inset,0 1px 0 #fff;color:#fff;font-weight:bold}
.paginate_button_disabled,.paginate_button_disabled:active{background:#f9f9f9 !important;border:1px solid #e5e5e5 !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;color:#ccc !important;font-weight:normal !important}
.paginate_button_disabled:active{border-color:#d3d3d3 !important}
.dataTables_processing{background-color:#fff;border:1px solid #ddd;color:#999;font-size:14px;height:30px;left:50%;margin-left:-125px;margin-top:-15px;padding:14px 0 2px 0;position:absolute;text-align:center;top:50%;width:250px}
table.dataTable th:active{outline:none}
.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}
table.display{border-collapse:collapse;clear:both;margin:0 auto;width:100%}
table.display tfoot th{font-weight:bold;font-weight:normal;padding:3px 0 3px 10px}
table.display tr.heading2 td{border-bottom:1px solid #aaa}
table.display td{padding:8px 10px}
table.display td.center{text-align:center}
table.display tr{border-top:1px solid #e7e7e7}
table.display tr:first-child{border-top:0}
table.display td{border-left:1px solid #e7e7e7}
table.display td:first-child{border-left:none}
tr.odd{background-color:#e2e4ff}
tr.even{background-color:#fff}
table.display tr.even.row_selected td,table.display tr.odd.row_selected td{background-color:#9fafd1;color:#fff}
/*! jQuery UI - v1.10.4 - 2014-03-06
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css, jquery.ui.slider.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CHelvetica%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=dddddd&bgTextureHeader=glass&bgImgOpacityHeader=35&borderColorHeader=bbbbbb&fcHeader=444444&iconColorHeader=999999&bgColorContent=c9c9c9&bgTextureContent=inset_soft&bgImgOpacityContent=50&borderColorContent=aaaaaa&fcContent=333333&iconColorContent=999999&bgColorDefault=eeeeee&bgTextureDefault=glass&bgImgOpacityDefault=60&borderColorDefault=cccccc&fcDefault=3383bb&iconColorDefault=70b2e1&bgColorHover=f8f8f8&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=bbbbbb&fcHover=599fcf&iconColorHover=3383bb&bgColorActive=999999&bgTextureActive=inset_hard&bgImgOpacityActive=75&borderColorActive=999999&fcActive=ffffff&iconColorActive=454545&bgColorHighlight=eeeeee&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=ffffff&fcHighlight=444444&iconColorHighlight=3383bb&bgColorError=c0402a&bgTextureError=flat&bgImgOpacityError=55&borderColorError=c0402a&fcError=ffffff&iconColorError=fbc856&bgColorOverlay=eeeeee&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
#ui-datepicker-div{font-size:12px}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #c9c9c9 url(../img/ui/ui-bg_inset-soft_50_c9c9c9_1x100.png) 50% bottom repeat-x;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #bbbbbb;
	background: #dddddd url(../img/ui/ui-bg_glass_35_dddddd_1x400.png) 50% 50% repeat-x;
	color: #444444;
	font-weight: bold;
}
.ui-widget-header a {
	color: #444444;
}

/* Interaction states
----------------------------------*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #eeeeee url(../img/ui/ui-bg_glass_60_eeeeee_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #3383bb;
}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	color: #3383bb;
	text-decoration: none;
}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
	border: 1px solid #bbbbbb;
	background: #f8f8f8 url(../img/ui/ui-bg_glass_100_f8f8f8_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #599fcf;
}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited {
	color: #599fcf;
	text-decoration: none;
}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	border: 1px solid #999999;
	background: #999999 url(../img/ui/ui-bg_inset-hard_75_999999_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
	border: 1px solid #ffffff;
	background: #eeeeee url(../img/ui/ui-bg_flat_55_eeeeee_40x100.png) 50% 50% repeat-x;
	color: #444444;
}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
	color: #444444;
}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
	border: 1px solid #c0402a;
	background: #c0402a url(../img/ui/ui-bg_flat_55_c0402a_40x100.png) 50% 50% repeat-x;
	color: #ffffff;
}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,.ui-widget-content .ui-icon {
	background-image: url(../img/ui/ui-icons_999999_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(../img/ui/ui-icons_999999_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(../img/ui/ui-icons_70b2e1_256x240.png);
}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon {
	background-image: url(../img/ui/ui-icons_3383bb_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(../img/ui/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(../img/ui/ui-icons_3383bb_256x240.png);
}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
	background-image: url(../img/ui/ui-icons_fbc856_256x240.png);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
	border-top-left-radius: 6px;
}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
	border-top-right-radius: 6px;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
	border-bottom-left-radius: 6px;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
	border-bottom-right-radius: 6px;
}

/* Overlays */
.ui-widget-overlay {
	background: #eeeeee url(../img/ui/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x;
	opacity: .8;
	filter: Alpha(Opacity=80);
}
.ui-widget-shadow {
	margin: -4px 0 0 -4px;
	padding: 4px;
	background: #aaaaaa url(../img/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .6;
	filter: Alpha(Opacity=60);
	border-radius: 0px;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
