/**
* Hacks Section
* @class Hacks
* @module base.css
*/
.lt-ie9
	.middleNav
		.head-info
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 )")
	.admin-menu
		li
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 )")
	.admin-title
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db97c', endColorstr='#077a48',GradientType=0 )")